body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  margin-left: 30px;
}

.item-name {
  text-decoration: none;
}
